html {
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5 {
	font-family: "Poppins", sans-serif
}

body {
	font-size:16px;
}

video {
	outline: none;
	display: block;
}

img {
	max-width: 100%;
}

textarea {
	resize: both;
}
.main {
	padding: 20% 0 !important;
	height: 100%;
	min-height: 100%;
}